<center>
<form action="/add" method="POST">
	<h1>Apenas coloque duas informações</h1>
	<p>Título</p>
	<input type="text" name="titulo">
	<p>Conteudo:</p>
	<textarea name="conteudo"></textarea>
	<br>
	<button type="submit">Enviar</buttton>
	<a href="/"><button>Voltar</button></a>
</form>
</center>